@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root{
    --menu:60px;
    --bleu:#042940;
    --vert:#005C53;
    --vertClair:#9FC131;
    --jaune:#DBF227;
    --clair:white;
    --gris:var(--gris);
}

html, body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
    overflow:hidden;
    display:flex;
    flex-flow: column nowrap;
}
app-racine > * {
    padding:10px 15px;
}
* {
    box-sizing: border-box;
}
main{
    width: 100vw;
    height:calc(100vh - var(--menu) - var(--menu));
    overflow-y:auto;
    overflow-x:hidden;
    display:flex;
}
body > header, body > footer {
    width:100vw;
    height:var(--menu);
}
:host ::ng-deep {
    width:100vw;
}
nav > ul{
    display:flex;
    flex-flow:row nowrap;
    margin:0;
}
nav > ul > li{
    list-style: none;
    padding:5px 15px;
    cursor: pointer;
    background-color: var(--bleu);
    color:var(--clair);
    transition:all .3s ease;
    margin:0;
    margin-right:1px;
}
nav > ul > li:hover{
    background-color: var(--jaune);
    color:var(--bleu);
}
table{
    width: 100%;
}
table thead{
    background:var(--gris);
}
table tr {
    padding:5px 0;
}
table tr:nth-child(even) {
    background-color: var(--gris);
}
table td{
    padding:5px;
}
form{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
form > fieldset{
    width:40%;
    margin:10px auto;
    display:flex;
    flex-flow: column nowrap;
    border:1px solid var(--gris);
}
label{
    margin:10px 0 5px;
}
input, textarea{
    padding:5px 10px;
    margin-left:10px;
    border:none;
    background:var(--gris);
}
input[type="password"]{

}
button{
    padding:10px 15px;
    margin:10px;
    transition:all .3s ease;
    cursor: pointer;
    border:none;
    background-color: var(--jaune);
    color:var(--bleu);
}
button:hover{
    background-color: var(--bleu);
    color:var(--clair);
}
button[type="reset"]{
    background-color: var(--gris);
    color:var(--bleu);
    border:1px solid var(--bleu);
}
button[type="reset"]:hover{
    background-color: var(--bleu);
    color:var(--clair);
    border:none;
}
.ng-invalid{
    border-bottom:1px solid red;
}
.ng-valid{
    border-bottom:1px solid green;
}
input.ng-touched{
    /* box-shadow:0 0 4px yellow; */
}